<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.ConexionMySQL" 
			connectionString="Server=127.0.0.1;User=usuario.general;Password=123*tecnologi-a;Port=3309;database=DB_HOTEL"
            providerName="MySql.Data.MySqlClient" />
        <add name="AccesoDatos.Properties.Settings.ConexionSQL" connectionString="Data Source=localhost,1433;Initial Catalog=DB_HOTEL;User ID=sa;Password=P@18111035" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>